*{
    box-sizing: border-box;
}
body{
    background-color:#dad5cedc;
}
img.logo{
    width: 300px;
    margin: 30px;
}
.mainpage{
    height: 100px;
    font-family: "Crimson Text";
    position: absolute;
    width: 100%;
    margin-right: 0px;
    top: 0%;
    left: 0%;
    float: right;
}
.container{
    color: black;
    font-family: "Crimson Text";
    text-align: center;
    padding: 2px 10px;
    float: right;
    overflow: hidden;
}
.nav{
    float: right;
    overflow: hidden;
    margin-right: 10px;
}
.nav a{
    float: left;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.dropdown{
    float: left;
    overflow: hidden;
    display: inline;
}
.navbar a:hover, .dropdown:hover{
    background-color: transparent;
}
.dropdown-item{
    display: none;
    position: absolute;
    width: 100px;
    margin-top: 100px;
    padding: 10px 14px;
    z-index: 1;
    float: left;
    text-align: left;

}
.dropdown-menu a{
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    float: right;
}
.nav-item div a{
    display: inline;
    text-decoration: none;
    color: black;
    display: inline-block;
}
.dropdown-menu a:hover{
    background-color: transparent;
}
.dropdown-menu:hover.dropdown-item{
    display: block;
}
.dropdown:hover div{
    color:#b5996f;
    visibility: visible;
}
.nav a:hover{
    color: #b5996f;
}
a:nth-child(1):hover{
    transition: all 0.5s;
}
a:nth-child(2):hover{
    transition: all 0.5s;
}
a:nth-child(3):hover{
    transition: all 0.5s;
}
a:nth-child(4):hover{
    transition: all 0.5s;
}
a:nth-child(5):hover{
    transition: all 0.5s;
}
img.sosmed{
    float: left;
    width: 20px;
    margin: -10px;
    margin-top: 4px;
    opacity: 0.5;
    position: relative;
}
img.sosmed:hover{
    opacity: 1;
    transition: all 0.5s;
}
div.mainpage:after{
    content: "";
    display: table;
    clear: both;
}
.text-center h1{
    font-size: 70px;
    font-family: "Allura";
    font-weight: borlder;
    letter-spacing: 10px;
    text-align: center;
    font-weight: lighter;
    color:rgba(61, 59, 59, 0.815);
}
.col-2{
    font-family: "Rouge Script";
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    float: left;
    padding: 20px;
    padding-left: 10px;
    width: 10%;
    color:rgba(61, 59, 59, 0.815);
}
.col-5{
    font-family: "Rouge Script";
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.5px;
    float: left;
    padding: 20px;
    width: 60%;
    color:rgba(61, 59, 59, 0.815);
}
.col-3{
    padding-top: 40px;
    width: 400px;
    float: left;
}